
<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center ">
        <!--columna 1-->
        <div class="col col-3 bg-white " style="border-radius: 15px 0 0 15px ">
            <h2 class="mt-3">
                Frontend
            </h2>
            <p>
                Creacion de aplicaciones cliente
            </p>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <div class="m-3">
                                <i class="bi bi-file-earmark-code"></i>
                            </div>
                            <h6>
                                React.js
                            </h6>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div>
                                        <div class="fw-bold">Creacion de componentes</div>
                                        Tengo habilidades para crear componentes de React reutilizables y estructurar la
                                        aplicación en componentes más pequeños y manejables
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <div class="fw-bold">Manejo de archivos y sistemas de archivos:</div>
                                        Puedo manejar archivos y sistemas de archivos utilizando la API de sistema de
                                        archivos proporcionada por Node.js. Esto me permite interactuar con archivos
                                        almacenados en el sistema de archivos del servidor y construir aplicaciones que
                                        pueden leer y escribir archivos.
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <div class="fw-bold">Integración con bases de datos</div>
                                        Otra habilidad que tengo es la capacidad de integrar Node.js con diferentes
                                        bases de
                                        datos. He trabajado con bases de datos relacionales y no relacionales como
                                        MongoDB,
                                        PostgreSQL y MySQL, lo que me permite crear aplicaciones web que interactúen con
                                        diferentes tipos de bases de datos.
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <div class="fw-bold">Uso de APIs</div>
                                        Puedo construir APIs REST para que otras aplicaciones puedan interactuar con
                                        ellas.
                                        Con Node.js puedo construir APIs robustas y seguras para satisfacer las
                                        necesidades
                                        de cualquier proyecto.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--columna 2-->
        <div class="col col-3 bg-white" style="">
            <h2 class="mt-3">
                Backend
            </h2>
            <p>
                Creacion de aplicaciones del lado del servidor
            </p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <div class="m-3">
                                <i class="bi bi-hdd-network-fill"></i>
                            </div>
                            <h6>
                                Node.js
                            </h6>
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div>
                                        <div class="fw-bold">Creacion de servidores web</div>
                                        Puedo crear servidores web eficientes, escalables y rápidos utilizando
                                        JavaScript en
                                        el lado del servidor con Node.js. Esto significa que puedo construir
                                        aplicaciones
                                        web robustas y de alto rendimiento para satisfacer las necesidades de cualquier
                                        proyecto.
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <div class="fw-bold">Manejo de archivos y sistemas de archivos:</div>
                                        Puedo manejar archivos y sistemas de archivos utilizando la API de sistema de
                                        archivos proporcionada por Node.js. Esto me permite interactuar con archivos
                                        almacenados en el sistema de archivos del servidor y construir aplicaciones que
                                        pueden leer y escribir archivos.
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <div class="fw-bold">Integración con bases de datos</div>
                                        Otra habilidad que tengo es la capacidad de integrar Node.js con diferentes
                                        bases de
                                        datos. He trabajado con bases de datos relacionales y no relacionales como
                                        MongoDB,
                                        PostgreSQL y MySQL, lo que me permite crear aplicaciones web que interactúen con
                                        diferentes tipos de bases de datos.
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div>
                                        <div class="fw-bold">Uso de APIs</div>
                                        Puedo construir APIs REST para que otras aplicaciones puedan interactuar con
                                        ellas.
                                        Con Node.js puedo construir APIs robustas y seguras para satisfacer las
                                        necesidades
                                        de cualquier proyecto.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--columna 3-->
        <div class="col col-3 bg-white" style="border-radius: 0 15px 15px 0">
            <h2 class="mt-3">
                Extras
            </h2>
            <p>
                Paradigmas de programacion, sistemas operativos, etc
            </p>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <div class="m-3">
                            <i class="bi bi-ubuntu"></i>
                        </div>
                        <h6>
                            Uso de Linux
                        </h6>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div>
                                    <div class="fw-bold">Uso de la línea de comandos</div>
                                    Puedo utilizar la línea de comandos de Linux para ejecutar tareas y comandos de
                                    sistema,
                                    como crear y administrar archivos, directorios y procesos.
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <div class="fw-bold">Gestión de usuarios y permisos</div>
                                    Puedo crear, modificar y eliminar usuarios en el sistema, así como asignar permisos
                                    de
                                    acceso y controlar la seguridad de los archivos y directorios.
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <div class="fw-bold">Instalación y gestión de paquetes</div>
                                    Puedo instalar, actualizar y desinstalar paquetes y programas en el sistema
                                    utilizando
                                    los administradores de paquetes, como APT o YUM.
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <div class="fw-bold">Gestión de servicios</div>
                                    Puedo administrar y controlar los servicios del sistema, como los servicios de red,
                                    el
                                    servidor web y el servidor de bases de datos, utilizando comandos y herramientas de
                                    gestión de servicios.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>