
<div class="text-center">
    <h1 class="display-4">Soy Isaac Ramirez Velez</h1>
    <p>
        estudiaante y desarrollador web
    </p>
    <img src="~/images/isaac.jpg" id="foto" />
</div>


<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>
            Bienvenidos
        </h1>
        <p>
            Actualmente soy estudiante de 5 semestre de la carrera de Ingenieria en sistemas computacionales y
            desarollador web con conocimientos en del lado del servidor, conocimientos del lado del cliente, y
            conocimiento sobre sistemas ooperativos y bases de datos
        </p>
    </div>
</div>