@model IEnumerable<ProyectoViewModel>
@if(Model!=null){
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Trabajos</h1>
        <p>mis trabajos mas recientes</p>
        <partial name="_Proyectos"/>
        
    </div>

    
}
