@model Persona
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2>
        Soy @Model.Nombre; estudiante y desarrollador web
    </h2>
    <img src="~/images/isaac.jpg"
    id="foto"
    />
</div>
