@model IEnumerable<ProyectoViewModel>
@{
    ViewData["Title"]="Proyectos";

}
<div class="container">
    <h1>
        Mis proyectos
    </h1>
    <p>Todos mis proyectos</p>
    <partial name="_Proyectos"/>
</div>